.wrapper{
    margin:18px 18px 0px 21px;
    background:  #1D85B1;
    width:300px;
    height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.filterView{
    padding: 16px 0px 16px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background: white;
    color: #1D85B1;
    font-size: 20px;;
    cursor:pointer;
}
.filterView img{
    padding-right: 16px;
}

.typeView{
    padding-top:20px;
    display:flex;
    flex-direction: column;
}
.item{
    margin-top:10px;
}